@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;

}

body {
    /* background-color: ghostwhite; */
}

.navigation {
    background-color: #FCFA84;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    position: fixed;
    /* padding-right: 1.5vw; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: all 0.5s ease;

    /* padding: 25vh 2vw; */
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    transition: all 0.5s ease-in-out;
}

#blank {
    font-size: xx-small;
}

.userother {
    display: none;
    transition: all 0.5s ease-in-out;
}

.user ul {
    list-style: none;

}

ul li {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

ul li img {
    padding-right: 1rem;
}

ul li p {
    display: none;
    /* transition: all 0.5s ease-in-out; */
}

.navigation .buttons {
    padding-left: 2rem;
    text-decoration: none;
    justify-content: space-between;
}

.navigation .buttons ul li {
    cursor: pointer;
}

.navigation .logout {
    padding-left: 2rem;
    padding-bottom: 3vh;
}

.navigation .logout ul li {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.homeBox {
    display: flex;

}

#Home h2 {
    font-size: 3rem;
}

#box1 {
    padding-right: 1rem;
    padding-top: 1rem;
}

#box2 {
    padding-right: 1rem;
    padding-top: 1rem;
}

#box3 {
    padding-top: 1rem;
}

#Home p {
    text-align: center;
    font-size: 1.5rem;
}

#answer {
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 1rem;
    border: 2px solid black;
    background-color: #FCFA84;
    border-radius: 2rem;
    white-space: pre-wrap;
}

#Colossus h2 {
    font-size: 3rem;
}

#Colossus form {
    display: flex;
    flex-direction: column;
}

#Colossus input {
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-right: 30vw;
    margin-left: 30vw;
    text-align: center;
    background-color: #FCFA84;
    margin-top: 2vh;
}

#Colossus button {
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-top: 2vh;
    margin-right: 40vw;
    margin-left: 40vw;
    background-color: #FCFA84;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#Home h3 {
    padding: 2rem;
    background-color: #FCFA84;
    text-align: center;
    border-radius: 2rem;
    font-weight: 400;
}

.navigation:hover #blank {
    display: none;
}


.navigation:hover {
    padding-right: 1.5vw;
}

.navigation:hover .userother {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    transition: all 0.5s ease;
}

.navigation:hover ul li {
    justify-content: flex-start;
}

.navigation:hover ul li p {
    display: flex;
}

ul li button.active {
    font-weight: 800;
}

ul li img.active {
    background-color: black;
}


ul li:hover {
    transform: scale(1.1);
}



button {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    padding-right: 1vw;
}