@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;
}

.navigation {
    background-color: #FCFA84;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    position: fixed;
    /* padding-right: 1.5vw; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: all 0.5s ease-in-out;

    /* padding: 25vh 2vw; */
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    transition: all 0.5s ease-in-out;
}

#blank {
    font-size: xx-small;
}

.userother {
    display: none;
    transition: all 0.5s ease-in-out;
}

.user ul {
    list-style: none;

}

ul li {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

ul li img {
    padding-right: 2rem;
}

ul li p {
    display: none;
    transition: all 0.5s ease-in-out;
}

.navigation .buttons {
    padding-left: 2rem;
    text-decoration: none;
    justify-content: space-between;
}

.navigation .buttons ul li {
    cursor: pointer;
}

.navigation .logout {
    padding-left: 2rem;
    padding-bottom: 3vh;
}

.navigation .logout ul li {
    cursor: pointer;
}



.navigation:hover #blank {
    display: none;
}


.navigation:hover {
    padding-right: 1.5vw;
}

.navigation:hover .userother {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    transition: all 0.5s ease;
}

.navigation:hover ul li {
    justify-content: flex-start;
}

.navigation:hover ul li p {
    display: flex;
}