@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;
}



/* .tab {
    overflow: hidden;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 3vw;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -0.75vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 800;
}

.tab button {
    background-color: inherit;
    color: inherit;
    
    
    
} */

.tab {
    overflow: hidden;
    background: black;
    color: white;
}

.tab button {
    background-color: transparent;
    float: left;
    border: none;
    cursor: pointer;
}