@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;

}


.navigation {
    background-color: #FCFA84;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    position: fixed;
    /* padding-right: 1.5vw; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    transition: all 0.5s ease;

    /* padding: 25vh 2vw; */
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    transition: all 0.5s ease-in-out;
}

#blank {
    font-size: xx-small;
}

.userother {
    display: none;
    transition: all 0.5s ease-in-out;
}

.user ul {
    list-style: none;

}

ul li {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

ul li img {
    padding-right: 1rem;
}

ul li p {
    display: none;
    /* transition: all 0.5s ease-in-out; */
}

.navigation .buttons {
    padding-left: 2rem;
    text-decoration: none;
    justify-content: space-between;
}

.navigation .buttons ul li {
    cursor: pointer;
}

.navigation .logout {
    padding-left: 2rem;
    padding-bottom: 3vh;
}

.navigation .logout ul li {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    /* width: calc(100vw - 80px); */
    flex: 1;
    margin-left: 80px;
    padding-left: 5rem;
    padding-right: 5rem;
    overflow-x: hidden;
}

.homeBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPopup h2 {
    font-size: 3rem;
}

#box1 {
    padding-right: 1rem;
    padding-top: 1rem;
}

#box2 {
    padding-right: 1rem;
    padding-top: 1rem;
}

#box3 {
    padding-top: 1rem;
}

.mainPopup p {
    text-align: center;
    font-size: 1.5rem;
}

.randomPlacesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.randomPicks {
    padding-top: 4vh;
    overflow-x: hidden;
    width: 100%;
    justify-content: flex-start;

}

.randomPicks h4 {
    text-align: left;
    font-size: 2rem;
}

#Colossus h2 {
    padding-top: 2vh;
    font-size: 5vh;
}

.colossus-response,
.colossus-response * {
    all: revert;
    box-sizing: border-box;
}

.colossus-response {
    text-align: left;
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-family: poppins;
    line-height: 1.5;
}

.colossus-response table {
    width: 100%;
    border-collapse: collapse;
}

.colossus-response th,
.colossus-response td {
    border: 1px solid #9e9d9d;
    padding: 0.5rem;
}

#Colossus {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#answer {
    flex: 1;
    width: 90vw;
    /* background-color: #f8f4f4; */
    overflow-y: auto;
    text-align: left;
    /* border-radius: 3rem; */
}

.colossus-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.type-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;

}

.type-area input {
    background-color: #FCFA84;
    border-radius: 2rem;
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border: none;
    width: 40%;
}

.type-area button {
    background-color: #FCFA84;
    font-size: 2rem;
    border-radius: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#Search {
    padding-top: 2vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

#Search h2 {
    font-size: 3rem;
}

#Search select {
    background-color: #FCFA84;
    border-radius: 2rem;
    /* margin-left: 80px; */
    height: 6vh;
    text-align: center;
    margin-right: 0.25vw;
    border: 0;
    margin-top: 1vh;
    align-items: center;
}

#Search input {
    background-color: #FCFA84;
    border-radius: 2rem;
    /* margin-left: 80px; */
    width: 70vw;
    height: 6vh;
    text-align: left;
    margin-right: 0.25vw;
    border: 0;
    margin-top: 1vh;
    padding-left: 1vw;
    align-items: center;
}

#Search button {
    background-color: #FCFA84;
    border-radius: 2rem;
    height: 6vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.recommendation {
    background-color: #FCFA84;
    border-radius: 2rem;
    padding: 2rem;
    border: 1px solid #9e9d9d;
    text-align: left;
    flex: 0 1 calc(33.33% - 14px);
    line-height: 2.5;
    min-width: 250px;
}

.recommendation h4 {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    justify-content: space-between;
}

.recommendation h4 svg {
    width: 2vw;
    height: auto;
    min-width: 18px;
    max-width: 30px;
    cursor: pointer;
}

.heart-icon {
    fill: black;
    transition: fill 0.3s ease;
}

.heart-icon.is-active {
    fill: red !important;
}

#Favorites {
    padding-top: 2vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.favoritesPopup {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.favorites-container h2 {
    font-size: 3rem;
}

#Home {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;

}

.mainPopup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainPopup h3 {
    padding: 2rem;
    background-color: #FCFA84;
    text-align: center;
    border-radius: 2rem;
    font-weight: 400;
}


.navigation:hover #blank {
    display: none;
}


.navigation:hover {
    padding-right: 1.5vw;
}

.navigation:hover .userother {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    transition: all 0.5s ease;
}

.navigation:hover ul li {
    justify-content: flex-start;
}

.navigation:hover ul li p {
    display: flex;
}

.buttons ul li button.active {
    font-weight: 800;
}

.buttons ul li img.active {
    background-color: black;
}


.buttons ul li:hover {
    transform: scale(1.1);
}



button {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    /* padding-right: 1vw; */
}

.tabs {
    padding-right: 1vw;
}