@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    transition: all 1s;
}

.logo {
    font-size: 3rem;
    user-select: none;
}

.navigation a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 450;
    margin-left: 1vw;


}

.buttonLogin {
    width: 6vw;
    height: 5vh;
    outline: none;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 450;
    margin-left: 2vw;
    background: black;
    color: white;
}



.main img {
    padding-top: 5vh;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    align-items: center;
}

.main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 4rem; */
    margin-left: 2vw;
    margin-right: 2vw;
}

.main p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
}


/*interactive*/
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.4vh;
    background: black;
    border-radius: 1rem;
    left: 0;
    bottom: -1vh;
    transform: scale(0);
    transition: transform 0.6s;
    transform-origin: right;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.buttonLogin:hover {
    background: transparent;
    border: 2px solid black;
    color: black;
}

.header-scrolled {
    background: transparent;
    backdrop-filter: blur(10px);
    border-color: rgba(black, black, black, 0.5);
}